Flask==0.9
GnuPGInterface==0.3.2
Jinja2==2.6
PAM==0.4.2
PyGreSQL==4.0
Twisted-Core==10.1.0
Twisted-Names==10.1.0
Twisted-Web==10.1.0
Werkzeug==0.8.3
apt-xapian-index==0.41
chardet==2.0.1
distribute==0.6.14
foolscap==0.5.0
ipython==0.10
mod-python==3.3.1
numpy==1.4.1
paramiko==1.10.1
pexpect==2.3
psycopg2==2.2.1
pyOpenSSL==0.10
pycrypto==2.6
pyserial==2.3
python-apt==0.7.100.1-squeeze1
python-debian==0.1.18-squeeze1
redis==2.7.2
reportbug==4.12.6
requests==1.2.0
uWSGI==1.9.6
unattended-upgrades==0.1
virtualenv==1.9.1
wsgiref==0.1.2
wxPython==2.8.10.1
wxPython-common==2.8.10.1
zope.interface==3.5.3
