<!doctype html>

{% block head %}
	<link rel="stylesheet" href="/static/main.css" />
	<link rel="stylesheet" href="/static/index.css" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<script type=text/javascript
       src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
	<script src="/static/jquery.autocomplete.js"></script>
	<script src="/static/index.js"></script>
{% endblock %}

{% block body %}
	<title>Welcome to Halpz.me</title>
	<div id="header">
		<div id="innerheader" class="bodyContainer">
			<img src="/static/halpzme_logo.png" />
		</div>
	</div>
	<div class="bodyContainer bigFont">
		<form id="inputform" class="form-wrapper cf topMarginSingle">
				<input id="tags" type="text" placeholder="What class are you in?" required>
				<button type="submit">halp!</button>
		</form>
		<div id="tutorLink" class="smallFont"><a href="/tutor/">I'm a tutor...<a/></div>
	</div>
{% endblock %}