<!doctype html>

{% block head %}
	<link rel="stylesheet" href="/static/main.css" />
	<link rel="stylesheet" href="/static/index.css" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
	<script type=text/javascript
       src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
       <script src="/static/jquery.autocomplete.js"></script>
    <script src="/static/tutor.js"></script>
	
{% endblock %}

{% block body %}
	<title>Welcome to Halpz.me</title>
	<div id="header">
		<div id="innerheader" class="bodyContainer">
			<a href="/"><img src="/static/halpzme_logo.png" /></a>
			<div id="currentTutor">
				<img src="{{ currTutor.profilePicUrl }}"/>
				<div class="details">
					<div class="bigFont">{{ currTutor.name }} </div>
					<div class="smallFont">{{ currTutor.endHours }}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="bodyContainer bigFont">
		<div id="servingAndStats" class="topMarginDouble">
			<div id="stats">
				<div class="boardName bigFont">stats</div>
				<div class="details">
					<div class="stopwatch">0:00 min</div>
				</div>
			</div>
			<div id="nowServing">
				<div class="boardName bigFont">now serving</div>
				<div class="student">
					<img class="currImage" src="/static/profpics/2.jpg"/>
					<div class="details">
						<div class="currStudent bigFont">Bob</div>
						<div class="currLocation smallFont">Here (CSE 127)</div>
					</div>
				</div>
			</div>
		</div>
		<div id="queues">
			<ul id="addedQueues">
			</ul>
			<div class="addNewClass">
				<div class="text">add new class</div>
			</div>
		</div>
	</div>
	<div id="addClassDialog" class="dialog hidden">
		<form id="addClassForm" class="form-wrapper cf bigFont">
			<input id="addedClassName" type="text" placeholder="What class?" required>
			<button type="submit">add</button>
		</form>
	</div>
	<div id="startTutoringDialog" class="dialog hidden">
		<form id="startTutoringForm" class="form-wrapper cf bigFont">
			<input id="tutoringEndTime" type="text" placeholder="Until when?" required>
			<button type="submit">start</button>
		</form>
	</div>
{% endblock %}